img {
    width: 500px;
}

* {
    color: white;
    text-align: center;
}

body {
    background-color: rgb(255, 184, 53);
}

button {
    background-color: red;
    border: none;
    border-radius: 5px;
}

input {
    background-color: red;
    border: none;
}

#btn {
   margin-top: 5px; 
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}